.container {
  @apply flex flex-col items-center max-w-7xl p-12 mx-auto md:flex-row;
}

.circle {
  @apply -translate-x-1/2 -translate-y-1/2 top-full;
  @apply absolute right-0 md:top-1/2;
  @apply transform md:-translate-y-1/2 md:translate-x-1/2;
  @apply flex items-center justify-center;
  @apply rounded-full bg-mochi shadow-mochi-700;
  @apply w-24 h-24 md:w-32 md:h-32;
  --tw-shadow-colored: 0 0 128px -24px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.textMochi {
  @apply relative;
  @apply text-2xl text-white md:text-4xl font-display;
}

.textMochiOutline {
  @apply absolute text-transparent;
  paint-order: stroke fill;
  -webkit-text-stroke: 1px theme("colors.white");
}

.bef {
  @apply -mt-6 opacity-20;
}
.bef.next {
  @apply -mt-12 opacity-10;
}

.aft {
  @apply mt-6 opacity-20;
}
.aft.next {
  @apply mt-12 opacity-10;
}

.illustration {
  @apply relative flex-shrink-0 w-full pointer-events-none md:w-1/4;
}

.image {
  @apply h-48 bg-center bg-cover rounded-lg md:h-96;
  background-image: url("/assets/mochi.png");
}

.entry {
  @apply flex-1 pt-12 pl-12 md:pt-0 md:pl-32 lg:pl-48 pr-9;
}
