@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-white;
  font-family: 'Inter', sans-serif;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.display {
  font-family: 'Sora', sans-serif;
}

.body-block {
  @apply max-w-7xl mx-auto relative z-10;
}

/* p for titles/headings */
p {
  font-family: 'Sora', sans-serif;
  @apply text-foreground;
}

/* span for normal text */
span {
  @apply text-foreground-secondary font-extralight;
}

/* Gradient block */
.border-gradient {
  @apply relative rounded-xl;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      99deg,
      theme('colors.mochi.100') 44.26%,
      theme('colors.mochi.400') 69.14%,
      theme('colors.mochi.100') 96.8%
    )
    repeat scroll 0% 0%;
}

.border-gradient-entry {
  @apply absolute rounded-xl;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

.text-mochi-gradient {
  @apply text-transparent uppercase bg-clip-text bg-gradient-to-r from-mochi-300 via-mochi-600 to-mochi-300;
}
